---
# Only the main Sass file needs front matter (the dashes are enough) 
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$iron: #333333;
$cloudy: #828282;
$steel: #1c1f33;

@import
    "mixins",
    "default",
    "404",
    "typewriter"
;
