<header class="header">
    <div class="navigation">
        <center><a href="{{ site.baseurl}}/" class="logo typewriter">{{ site.title }}</a>

            <ul class="menu ">
                {% if site.author.github %}
                <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
                    <i class="fa fa-github"> chen.xing </i>
                </a>
                {% endif %}
            </ul>


        </center>
        <br />

    </div>

</header>