/* =Base */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&amp;family=Playfair+Display+SC:wght@900&amp;family=Playfair+Display:ital,wght@0,800;1,800&amp;family=Manrope:wght@800&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=PT+Serif&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-width: 400px;
}

body {
  font-family: "EB Garamond", serif;
  color: $iron;
  background-color: white;
  margin: 4em;
}

a {
  text-decoration: none;
  color: maroon;
}

p {
  font-size: 1.5rem;
  line-height: 25px;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.6rem;
  font-family: "Oswald";
  margin-bottom: 1rem;
}

li {
  font-size: 1.4rem;
}

code {
  font-size: 1.1rem;
}

img {
  width: 100%;
  border: 1px solid $steel;
}

blockquote {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  padding: 20px;
  margin: 1.5rem 2rem 0 1.5rem;

  footer {
    margin-top: 10px;
    font-style: italic;
    font-size: 1rem;
    color: $cloudy;
    letter-spacing: 0px;
    text-align: right;
    &:before {
      content: "— ";
    }
  }

  cite {
    &:before {
      content: "，";
    }
  }

  p {
    display: inline;
    color: maroon;
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
}

strong {
  color: $iron;
  margin: 0 5px;
}

/* =Header */
.wrapper {
  max-width: 1000px;
  margin: 50px auto;
}

.logo {
  font-size: 6.8rem;
  font-weight: 700;
  color: $iron;
}

.social-links {
  font-size: 1.6rem;
  margin-top: 6px;
  padding: 3px 0;
  border: solid $steel;
  border-width: 2px 0;
  text-transform: lowercase;

  & ul {
    margin: 0;
    padding: 0;
    border: solid $steel;
    border-width: 1px 0;
  }

  & .fa {
    color: maroon;
    font-family: "EB Garamond", sans-serif;
    font-size: 1.5rem;

    &::before {
      font-family: FontAwesome;
    }
  }
}

.social-links__entry {
  padding: 8px;
}

/* =Titles */
.page-title {
  text-align: center;
}

.post-title {
  margin-bottom: 50px;
}

.post-title__text {
  font-size: 2.4rem;
}

/* =Post headers */

.posts-accordion {
  list-style-type: none;
  padding: 0px;
}

.post {
  &:hover .post-header {
    background-color: $steel;
  }
  &:hover .post-header__title {
    color: white;
  }
  &:hover .post-header__date {
    color: white;
  }
}

.open {
  background-color: $steel;

  .post-header__title {
    color: white;
  }
  .post-header__date {
    color: white;
  }
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.post-header__title {
  font-size: 1.1rem;
  color: $iron;
}

.post-header__date {
  font-size: 1rem;
  color: maroon;
}

.post-content {
  width: calc(100% - 32px);
  margin: 0 auto;
  max-height: 0px;
  overflow: clip;
  transition: all 1s ease;
}

/* =Post page */
.about {
  color: $cloudy;
  margin-top: 70px;
  text-align: center;
}

.about__text {
  font-size: 1.3rem;
}

.footer {
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  /* =Base */
  body {
    margin: 0;
  }

  p {
    font-size: 1.6rem;
  }

  .wrapper {
    width: 80%;
  }

  .logo {
    font-size: 5rem;
  }

  .page-title {
    margin-bottom: 60px;
  }

  .page-title__text {
    font-size: 2rem;
  }

  .post-header {
    display: block;
  }

  .post-header__title {
    font-size: 1.2rem;
    @include centered-block();
  }

  .post-header__date {
    font-size: 1.1rem;
    margin-top: 10px;
    @include centered-block();
  }

  .post-title__text {
    font-size: 2rem;
  }
}
