<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta_tags/base.html %}
    {% include meta_tags/sharing.html %}

    {% include externals/styling.html %}
</head>


<body>

    <div class="wrapper">

        {% include header.html %}

        {{ content }}
    </div>

    {% include externals/scripting.html %}

    <center class="footer">
        <a class="ad" href="https://github.com/amaliegay" target="_blank">
            <div class="ad__title">
                50% off chen.xing tickets
            </div>
        </a>
    </center>

    <script src="js/typewriter.js"></script>
</body>

</html>
