<!DOCTYPE html>
<html lang="en">

<head>
    {% include meta_tags/base.html %}
    {% include meta_tags/sharing.html %}

    {% include externals/styling.html %}
</head>


<body>

    <div class="wrapper">

        {% include header.html %}

        {{ content }}
    </div>

    {% include externals/scripting.html %}

    <center>
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/amaliegay" data-size="large" data-show-count="true"
            aria-label="Follow @amaliegay on GitHub">chen.xing</a>

        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </center>

    <script src="js/typewriter.js"></script>
    <script src="js/randomPoem.js"></script>
</body>

</html>